# Mac specific stuff
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore the build dir
build/*
lib/*

# Ignore any executables
bin/*

# Ignore zip files
*.zip

# XCode related ignores
UserInterfaceState.xcuserstate
*.pbxuser
*.perspectivev3
*.mode1v3
*.xcodeproj
xcuserdata/